/*.footerlinks{

}
    .footerlinks:hover {
        color: red;
    }

#Button1{

}
    #Button1:hover {
        
       
    }

#Button2 {
}

    #Button2:hover {
        color: bisque;
    }*/

.cards:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0,0,0.75);
    transform:scale(0.9);
}
